*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100vw;
    background-color: #0059ff;
}
nav{
    width: 450px;
    height: 60px;
    background-color: aliceblue;
    border-radius: 30px 30px 0 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
}
ul li i{
    font-size: 17px;
    color: #0059ff;
}
ul li:nth-child(1){
    position: absolute;
    left: 20%;
    bottom: 50%;
    transform: translate(-50%,50%);
    padding: 15px;
    transition: all .5s;
}
ul li:nth-child(2){
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    padding: 15px 17px;
    transition: all .5s;
}
ul li:nth-child(3){
    position: absolute;
    left: 80%;
    bottom: 50%;
    transform: translate(-50%,50%);
    padding: 15px 16px;
    transition: all .5s;
}
ul li:hover{
    position: absolute;
    bottom: 105%;
    transform: translate(-50%,50%);
    background-color: aliceblue;
    border-radius: 50%;
    border: 5px solid #0059ff;
}